.background-shadow { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: #86bfee !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 { 
    font-weight: bold !important;
}

